# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python files
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment (if any)
venv/
env/
*.egg-info/
.env
*.log

# IDE / Editor files
*.idea/
*.vscode/
*.swp

